@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-950;
    color: white;
    padding: 50px;
}

textarea {
    color: black;
    width: 100%;
}

.btn-rotate {
    background-color: teal;
}